*
{font-family: raleway;
}

body
{display: flex;
} 

main
{display: flex;
}

header
{display: flex;
}
    .logo
    {display: flex;
    width: 50px;
    height: 50px;}
    .nav
    {display: flex;
    justify-content: flex-end;
    justify-content: space-between;}

#hebergement
{   display: flex;
    justify-content: space-between;
}

.hebergement
{display:flex;
background-color: #f2f2f2;
width: 70%;
}

.pop
{display: flex;
width: 30%;
justify-content: flex-end;
flex-direction: column;
background-color: #f2f2f2;}

#filtres
{display: flex;
}

#activite
{display: flex;
}
    .grande
    {display: flex;
    }
    .petite
    {display: flex;}

footer
{display: flex;
align-items: flex-end;
justify-content: space-between;}

