*
{font-family: raleway;
}

body
{box-sizing: border-box;
margin:0;
} 

main
{margin: 0 50px 50px;
box-sizing: border-box ;
}

a
{text-decoration: none;
color: inherit;}

header
{display: flex;
justify-content: space-between;
margin:0 0 35px 35px; 
}
    .logo
    {display: flex;
    margin-top: 35px;
    flex:1;
    }
    .headernav
    {display: flex;
    padding: 40px 30px 0;}

.filtres
{}
        .trouver
        {font-weight: bold;}

.logement
{ box-sizing: border-box;
background-color: #f2f2f2;
}
    .hbgmarseille
    {font-weight: bold;}
    .etoilebleu
    {
    color: #0065fc;}
    .etoilegrise
    {color: #f2f2f2;}


.pop
{box-sizing: border-box;
background-color: #f2f2f2;
}
    .lespluspop
    {display: flex;
    font-weight: bold}
   
.acmarseille
{font-weight: bold;}  
    .grande
    {display: flex;
    }
    .petite
    {display: flex;
    }

.footercolonne
{display: block;
padding: 40px 50px 50px;
background-color: #f2f2f2;
flex:1
}
    .footertitre
    {display: flex;
    font-weight: bold;
    }
    .footertext
    {display: block;}
