*
{
font-family: raleway;
}

main
{
max-width: 2500px ;
box-sizing: border-box ;
margin: auto;
padding: 0 2rem;
}

a
{
text-decoration: none;
color: inherit;
}

header
{
display: flex;    
justify-content: space-between;
margin: auto;
}

    .logo
    {
    padding: 2rem 2rem 2rem 0rem  ;
    height: 3rem;
    }
    .nav
    {
    display: flex;
    padding: 2rem;
    font-weight: 600;
    align-items: center;
    }
        .sinscrire
        {
        color: #0065fc;
        }
        nav a
        {
        display:flex;
        padding: 2rem;
        }
        nav a:hover
        {
        color: #0065fc;
        border-top: 2px solid#0065fc;
        padding-top: 2rem;
        }
        .liensnav
        {
        display: flex;
        }

.recherchefiltres
{margin-bottom: 3rem;}
        .recherche
        {
        display: flex;
        margin-bottom: 3rem;
        height: 3rem;
        }
            .trouver
            {
            font-weight: 900;
            }
            .enplein
            {margin-bottom: 1rem;}
            .icone
            {  
            display: flex;
            background-color: #f2f2f2;
            border-radius: 1rem 0 0 1rem;
            width: 3rem;
            }
            .icone i
            {margin: auto;}
            .champ
            {width: 12rem ;
            padding: 1rem;
            font-size: 1rem;
            font-weight: 600;
            border: 1px solid #f2f2f2
            }
            .bouton
            {width: 7rem;
            background-color: #0065fc;
            border: none;
            border-radius: 0 1rem 1rem 0;
            color: #fff;
            font-weight: 600;
            font-size: 1rem;
            cursor: pointer;
            }
            
.filtres
{display: flex;
margin-top: .5rem;
flex-wrap: wrap;
}            
    .titrefiltres
    {display: flex;
    margin: 0 2rem 1rem 0;
    align-items: center;
    }
        .boutonfiltres
        {
        display: flex;
        align-items: center;
        margin : 0 2rem 1rem 0;
        border: 2px solid #d9d9d9;
        border-radius: 2rem;
        cursor: pointer;
        font-weight: bold;
        }
        .boutonfiltres:hover
        {
        background-color: red;
        }
        .icone2
        {
        background-color: #DEEBFF;
        border-radius: 100%;
        height: 3rem;
        width: 3rem;
        min-height: 3.5rem;
        min-width: 3.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: -2px;
        }
        .icone2 i
        {
        margin: auto;
        color: #0065fc;    
        }
        .titrebouton
        {
        margin: 0 1rem;
        }
    
.info
{
display: flex;
align-items: center; 
}
    .iconeinfo
    {
    height: 2rem;
    display: flex;
    width: 2rem;
    border: 1px solid #f2f2f2;
    border-radius: 100%;
    margin-right: .5rem; 
    align-items: center;
    justify-content: center;
    }
        .iconeinfo i
        {
            margin: auto;
            color: #0065FC;  
        }

#logement
{ 
display: grid;
column-gap: 2rem;
grid-template-columns: 6fr 3fr;
}
    .hebergement
    {
    display: grid;
    column-gap: 2rem;
    row-gap: 2rem;
    }
        .blocimgarticle
        {
        background-color: white;
        padding: .4rem;
        border-radius: 1rem;
        box-shadow: 0 0 16px #0000002e;
        transition-duration: 0.1s;
        cursor: pointer;
        box-sizing: border-box;
        height: 100%;
        }
        .blocimgarticle:hover
        {
        transform: skew(10deg);    
        }
            .blocimgindiv
            {
            margin: auto;
            }
            .imghebergement
            {
            height: 7rem;
            object-fit: cover ; 
            max-width: 100%;
            width: 100%;
            max-height: 100%;
            border-radius: 1rem 1rem 0 0;
            }
                .titrehebergement
                {
                font-weight: bold ;
                }
                .titrehebergement, .texthebergement, .etoile
                {
                margin: .5rem 1rem 0 1rem;
                }
                .etoilebleu
                {
                color: #0065fc;
                }
                .etoilegrise
                {   
                color: #f2f2f2;
                }
        
    .pop
    {
    display: grid;
    row-gap: 2rem;
    align-items: start;
    grid-template-rows: auto repeat(3, 1fr);
    }
        .lespluspop
        {
        display: flex;
        justify-content: space-between;
        }
            .blocimgpop
            {
            background-color: white;
            padding: 0.375rem;
            border-radius: 1.25rem;
            box-shadow: 0 0 16px #0000002e;
            transition-duration: 0.1s;
            cursor: pointer;
            box-sizing: border-box;
            height: 100%;
            }
            .blocimgpop:hover
            {
            transform: skew(10deg);    
            }
                .lienpop
                {
                display: flex;
                align-items: stretch;
                height: 100%;
                overflow: auto;  
                }
                .contourimg
                {
                position: relative;
                min-height: 100%;
                width: 33%;
                min-width: 33%;
                max-width: 33%;
                }
                .imgpop
                {
                border-radius: 1rem 0 0 1rem;
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                }   
                    .partietext
                    {
                    display: flex;
                    flex-direction: column;
                    }
                    .titrepop, .textpop, .etoilepop
                    {
                    margin: .5rem 1rem 0 1rem; 
                    }

.hebergement, .pop
{
background-color: #F2F2F2;
border-radius: 1.5rem;
padding: 2rem;
}

#activite
{
display: grid;
column-gap: 2rem;
margin: 4rem 0;
}
    .lienactivite
    {
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    }
    .lienactivite:hover
    {
    transform: skew(10deg);    
    }
        .blocimgactivite
        {
        position: relative;
        flex: 1;
        }
        .imgactivite
        {
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
        }
        .textactivite
        {
        margin: 1rem;
        }        
        
footer
{
display: flex;
padding: 2rem;
background-color: #f2f2f2;
justify-content: space-around;
}
    footer a:hover
    {
    font-weight: 800;
    color: #0065f5
    }
    .footertitre
    {
    font-weight: 700;
    padding: 0.5rem;
    }
    .footertext
    {
    display: flex;
    padding: 0.5rem;
    }

